{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Detail Information</h3>
            <div class="customer-details">
                <p><span class="font-weight-bold">Name:</span> {{ customer.full_name }}</p>
                <p><span class="font-weight-bold">Username:</span> {{ customer.user.username }}</p>
                <p><span class="font-weight-bold">Email:</span> {{ customer.user.email }}</p>
                <p><span class="font-weight-bold">Address:</span> {{ customer.address }}</p>
                <p><span class="font-weight-bold">Joined On:</span> {{ customer.joined_on|date:"F j, Y" }}</p>
            </div>
        </div>
        <div class="col-md-8">
            <h3>Previous Orders</h3><hr>
            {% if orders %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Order ID</th>
                                <th>Total Amount</th>
                                <th>Order On</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href={% url 'ecomapp:customerorderdetail' order.pk %}>#Order_{{ order.id }}</a></td>
                                <td>{{ order.total|floatformat:2 }}</td>
                                <td>{{ order.created_at|timesince }} ago</td>
                                <td>{{ order.order_status }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>No previous orders available.</p>
            {% endif %}
        </div>
    </div>
</div>

<style>
    .customer-details {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 16px;
        line-height: 1.6;
        color: #333;
    }

    .customer-details .font-weight-bold {
        font-weight: bold;
        color: #000;
    }
</style>
{% endblock %}
