{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Search Results For <span class="text-info">"{{request.GET.keyword}}"</span></h3>
            <hr>
            {% for result in results %}
            <div class="row">
                <div class="col-md-4">
                    <img src="{{result.image.url}}" alt="" class="img-fluid" style="height:250px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4><a href="{% url 'ecomapp:productdetail' result.slug %}">{{result.title}}</a></h4>
                    <p>{{result.description|truncatewords:50}}</p>
                    <p>Return Policy: {{result.return_policy}}</p>
                    <a href="{% url 'ecomapp:addtocart' result.id %}" class="btn btn-primary add-to-cart-btn">
                        <span class="icon"></span> Add to Cart
                    </a>
                </div>
            </div><br>
            {% endfor %}
        </div>
    </div>
</div>
<style>
    .add-to-cart-btn {
        display: inline-flex;
        align-items: center;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        background-color: #28a745;
        color: white;
        border: 2px solid #28a745;
        position: relative;
        overflow: hidden;
        transition: background-color 0.3s, border 0.3s;
    }
    
    .add-to-cart-btn:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }
    
    .icon {
        display: inline-block;
        margin-right: 8px;
        width: 20px;
        height: 20px;
        background-image: url('https://cdn1.iconfinder.com/data/icons/business-e-commerce-logistics-full-colours-set-1/91/Business_E-commerce__Logistics_C-50-128.png');
        background-size: cover;
        background-position: center;
        animation: moveTruck 2s ease-in-out infinite;
    }
    
    /* Delivery Truck Animation */
    @keyframes moveTruck {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(10px);
        }
        50% {
            transform: translateX(0);
        }
        75% {
            transform: translateX(-10px);
        }
        100% {
            transform: translateX(0);
        }
    }
    
</style>
{% endblock %}